/********w************

	Do not alter this comment block. 
	Only fill out the information below.
	
    Competency 2
    Name: Tulimar Quintero
    Date:10 May,2023
    Description: Competency 2: CSS

*********************/
body {
    background-color: rgb(226, 226, 226);

}

article{
    width: 70%;
    margin: auto;
    border: 4px white solid;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px blue;
}

ul{
    width: 50%;
}

li{
    border :1px blue solid;
    padding: 40px; /* This property allow to create space around each element of the list*/

}